.clickZone {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  z-index: 10;
}

.clickZone.over {
  z-index: 20;
  background: blue;
}

.choice {
  cursor: pointer;
  width: 100%;
  position: absolute;
  height: 100%;
}

.title {
  animation: hello 4s infinite;
  white-space: pre-wrap;
  line-height: 1em;
  /* filter: blur(10px); */
  font-size: 1.5em;
  font-family: 'Woodland';
  font-weight: 900;
  pointer-events: none;
  color: white;

  position: absolute;
  z-index: 110;
  display: inline-flex;
  transform-origin: left top;
  top: 45%;
  opacity: 1;
  transition: all 600ms ease;
  transform: translateZ(0);
}

.title.animation-disabled {
  animation: none;
}

@keyframes hello {

  0%,
  88%,
  100% {
    margin-top: 0;
  }

  90%,
  98% {
    margin-top: 15px;
  }

  94% {
    margin-top: -15px;
  }
}

.title.disabled {
  opacity: 0;
  transition-delay: 0;
}

.choice:nth-of-type(1) .title {
  left: 10%;
  top: 40%;
  transform: rotate(-8deg);
}

.alt .choice:nth-of-type(1) .title {
  right: 10%;
  left: unset;
  top: 37%;
  transform: rotate(8deg);
  transform-origin: right top;
}

.choice:nth-of-type(2) .title {
  animation-delay: 300ms;
  right: 10%;
  top: 67%;
  transform: rotate(10deg);
  transform-origin: right top;
}

.alt .choice:nth-of-type(2) .title {
  top: 68%;
  right: unset;
  left: 10%;
  transform: rotate(-8deg);
  transform-origin: left top;
}

.choice:nth-of-type(1).selected .title,
.alt .choice:nth-of-type(2).selected .title {
  transform: rotate(-8deg) scale(1.1);
}

.choice:nth-of-type(2).selected .title,
.alt .choice:nth-of-type(1).selected .title {
  transform: rotate(10deg) scale(1.1);
}

.choice.disabled .title {
  opacity: 0;
}