/* #nav .tiles svg {
  margin: -50px;
  transform: scale(0.5);
} */

#nav {
  transition: all 400ms ease-out;
  cursor: pointer;
  width: 80px;
  color: white;
  background-color: rgba(88, 115, 161, 0.6);
  opacity: 0.8;
  border-radius: 0 20px 20px 0;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 50%;
  padding: 20px 0px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 260px;
}

#nav.opened {
  width: 160px;
}

#btn-info,
#btn-back,
#btn-open {
  margin: 15px;
  display: flex;
  width: 82px;
}

#btn-open {
  transition-delay: 600ms;

  /* display: block; */
  transition: all 400ms ease-out;
  position: absolute;
  top: calc(36%);
  left: 0;
  width: 45px;
  opacity: 1;
}
#nav svg {
  pointer-events: none;
}
#nav .info,
#nav .back {
  opacity: 1;
  transition: opacity 400ms;
}

#nav .info.disabled,
#nav .back.disabled {
  opacity: 0.3;
}

#nav:not(.opened) .info,
#nav:not(.opened) .back {
  pointer-events: none;
  opacity: 0;
}

#nav.opened #btn-open {
  left: -30%;
  opacity: 0;
}

#secret {
  position: absolute;
  z-index: 800;
  right: 0;
  top: 0;
  background-color: white;
  width: 300px;
  height: 300px;
  opacity: 0;
}
