.caption-wrapper {
  width: 100%;
  z-index: 40;
  position: absolute;
  bottom: 600px;
  /* top: 300px; */
  padding: 0 200px;
  /* min-height: 900px; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  pointer-events: none;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  /* transition: opacity 600ms; */
  text-align: center;
  font-size: 60px;
  line-height: 1.4em;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  padding: 20px 40px;
}

#video::cue {
  display: none;
  opacity: 0;
}

video::-webkit-media-text-track-display-backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
}



#headset {
  transform: translateZ();
  transition: all 600ms ease;
  opacity: 0;
  display: flex;
  position: absolute;
  z-index: 80;
  width: 92%;
  left: 4%;
  padding: 80px;
  justify-content: space-between;
  top: 75%;
  pointer-events: none;
  will-change: width;
}

#headset.visible {
  opacity: 0.8;
  width: 100%;
  left: 0;
}

#headset svg {
  fill: white;
  width: 200px;
}

.arrow {
  /* transform: scale(.8); */
}

#headset div:first-child .arrow {
  transform: scaleX(-1);
}

#headset div:first-child .headset {
  margin-left: 40px;
}

#headset div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}